flows/Create_Case_for_Bug_Report_Survey-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>BugReport_Owner_unassigne_queue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00Gi0000000bO3S</stringValue>
        </value>
    </constants>
    <decisions>
        <name>is_Contact_NULL</name>
        <label>is Contact NULL</label>
        <locationX>416</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_is_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CONTACTID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>Contact is NOT NULL</label>
        </rules>
    </decisions>
    <description>Based on the Bug Report Survey, Cases may be created</description>
    <interviewLabel>Create Case for Bug Report Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case for Bug Report Survey</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>435</locationX>
        <locationY>307</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_GetFeedback_Record_with_Case_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Area__c</field>
            <value>
                <stringValue>Natick - Technical Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CONTACTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Type__c</field>
            <value>
                <stringValue>No License Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Bug Report Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>BugReport_Owner_unassigne_queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>lookup_contactID</name>
        <label>lookup contactID</label>
        <locationX>273</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Contact_NULL</targetReference>
        </connector>
        <filters>
            <field>MathWorks_Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MWAID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CONTACTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_GetFeedback_Record_with_Case_ID</name>
        <label>Update GetFeedback Record with Case ID</label>
        <locationX>378</locationX>
        <locationY>468</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFeedbackID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>CONTACTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Get_Feedback__c</object>
    </recordUpdates>
    <startElementReference>lookup_contactID</startElementReference>
    <variables>
        <name>Case_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Capture the new Case ID that is created</description>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CONTACTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetFeedbackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MWAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
